# This file includes global variables that will be available inside your project
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

DATABASE_URL=
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Custom Variables
FRONTEND_URL=
JWT_SECRET_KEY=
#Yapily
YAPILY_UUID=
YAPILY_SECRET=
#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
