# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
BASENAME=/
#BACKEND_URL=
#FRONTEND_URL=

# Custom Variables
JWT_SECRET_KEY=123456789abcdefg
SERVICEID=service_06z947j
TEMPLATEID=template_rqjpkzt
APIKEY=OEJwm9F74smn7Cy5A
#Yapily
YAPILY_UUID=c858ccda-4bc1-4a7d-8a49-84224613592e
YAPILY_SECRET=48twEWV2wWXxsvKmFncaUHecoUIGILle
#Cloudinary
CLOUDINARY_CLOUD_NAME=dz2wa18ih
CLOUDINARY_API_KEY=378571861433279
CLOUDINARY_API_SECRET=El7AzmTIVybRcGkXU--XkyaJO2o
#Firebase
REACT_APP_FIREBASE_API_KEY=AIzaSyDwYkWwjvxJkkHGnOEzWitxEWHQdoui7h0
REACT_APP_FIREBASE_AUTH_DOMAIN=expensevue-cd275.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=expensevue-cd275
REACT_APP_FIREBASE_STORAGE_BUCKET=expensevue-cd275.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=197914740631
REACT_APP_FIREBASE_APP_ID=1:197914740631:web:b7fa8484ddcd76c25366d2
REACT_APP_FIREBASE_MEASUREMENT_ID=G-DCR0ZP76NM
